/* Sidebar Container */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background-color: var(--main-black);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#sidebar-icon {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#icon-holder {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-container:hover {
    background-color: var(--main-hover);
}

.nav-icon {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.nav-title {
  width: 100%;
  color: var(--main-white);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.nav-link {
  text-decoration: none;
  color: var(--main-white);
}

.menu-items {
  flex-grow: 1;
}

.settings-container {
  margin-top: auto;
  padding-top: 20px;
}