#disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inline-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#disclaimer-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

.disclaimer-text {
    color: var(--main-black);
    font-size: 15px;
}
