#disclaimer-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textbox-background-color);
    color: var(--textbox-font-color);
    font-family: var(--textbox-font-family);
    text-align: left;
}

.disclaimer-container {
    background-color: var(--textbox-background-color);
    padding: 20px;
}

.disclaimer-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.disclaimer-container p {
    font-size: var(--textbox-font-size);
    line-height: 1.5;
    margin-bottom: 20px;
    font-style: var(--textbox-font-style);
    font-weight: var(--textbox-font-weight);
}